<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header id="header"></header>
  
  <main id="main"></main>
  
  <div id="page-navigation"></div>
  <footer id="footer">
    <ul class="footer-menu">
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
  </footer>
   
  <script type="text/template" id="header-template">
    <img src="<%= logoSrc %>" alt="">
    <div class="header__main">
      <h1 class="title">Earn <%= currencyName %></h1>
      <h2 class="subtitle">Complete an offer below. It's easy and secure.</h2>
    </div>
  </script>
  
  <script type="text/template" id="modal-container-template">
    <div class="modal-container__i">
      <div class="modal-container__i2">
        <div id="modal"></div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="offer-details-template">
    <div class="offer-details__header">
      <div class="offer-details__image" style="background-image: url(<%= imageSrc %>)"></div>
      <button type="button" class="button button_continue"><%= buttonText %></button>
      <div class="offer-details__title-holder">
        <div class="offer-details__title"><%= title %></div>
        <div class="offer-details__subtitle"><%= title %></div>
      </div>
    </div>
    <div class="offer-details__body">
      <div class="offer-details__main">
        <div class="offer-details__description">
          <div class="offer-details__subtitle"><%= descriptionTitle %></div>
          <%= description %>
        </div>
        <div class="offer-details__instructions">
          <div class="offer-details__subtitle"><%= instructionsTitle %></div>
          <%= instructions %>
        </div>
      </div>
      <div class="offer-details__controls">
        <button class="button button_back" type="button">Back</button>
        <button class="button button_continue" type="button"><%= buttonText %></button>
      </div>
    </div>
    <div class="powered-by"></div>
  </script>
  
  <script type="text/template" id="item-template">
    <div class="offer__i">
      <div class="offer__i2">
        <div class="offer__image-container">
          <div class="offer__image" style="background-image: url(<%= imageSrc %>)"></div>
        </div>
        <div class="offer__main">
          <div class="offer__title"><%= title %></div>
          <div class="offer__subtitle"><%= subtitle %></div>
        </div>
        <div class="offer__aside">
          <div class="offer__reward"><%= rewardAmount + ' ' + (rewardAmount == 1 ? rewardName : rewardNamePlural) %></div>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="offers-section-template">
    <div class="offers__section"></div>
  </script>
  
  <script type="text/template" id="page-navigation-template">
    <% if (currentPage > firstPage) { %>
      <button type="button" class="button page-navigation__prev">Previous</button>
    <% } %>
    <% if (currentPage < totalPages) { %>
      <button type="button" class="button page-navigation__next">Next</button>
    <% } %>
  </script>
  
  <script src="/js/lib/jquery-2.1.0.js"></script>
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/lib/backbone.js"></script>
  <script src="/js/lib/backbone-pageable.js"></script>
  <script src="/js/lib/backbone.marionette.js"></script>
  <script src="/js/offerwall/app.js"></script>
  <script src="/js/offerwall/models.js"></script>
  <script src="/js/offerwall/collections.js"></script>
  <script src="/js/offerwall/views.js"></script>
  <script src="/js/offerwall/layout.js"></script>
  <script src="/js/offerwall/main.js"></script>
  <script src="/js/offerwall/utils.js"></script>
  <script>
    $(function() {
      Offerwall.start({
        sid: '{{sid}}',
        tid: '{{tid}}',
        tidEncoded: '{{tidEncoded}}',
        currencyName: '{{currencyName}}',
        logoSrc: '{{logoSrc}}'
      });
    });
  </script>

</body>
</html>