/* helpers (begin) */
/**
 * For modern browsers
 * 1. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before {
  content: "";
  display: table; /* 1 */
  }

.cf:after {
  content: "";
  display: table; /* 1 */
  clear: both;
  }
/* helpers (end) */

html {
  font-size: 10px;
}

body {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #fff;
  background-color: #545;
}

.title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

#modal-overlay,
#modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

  #modal-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5)
  }

  #modal-container {
    z-index: 1001;
  }

  .modal-container__i {
    display: table;
    height: 100%;
    margin: 0 auto;
  }
    
    .modal-container__i2 {
      display: table-cell;
      vertical-align: middle;
    }
    
  #modal {
    background-color: white; 
  }
    
.button {
  padding: 0.8rem 1.4rem 0.9rem;
  cursor: pointer;
  border: 0.2rem solid black;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  color: black;
  background: #ffeca8;
  background: -moz-linear-gradient(top, #ffeca8 0%, #fc7 84%, #faeeaa 84%, #faeeaa 90%, #eb8533 90%, #eb8533 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeca8), color-stop(84%, #ffcc77), color-stop(84%, #faeeaa), color-stop(90%, #faeeaa), color-stop(90%, #eb8533), color-stop(100%, #eb8533));
  background: -webkit-linear-gradient(top, #ffeca8 0%, #fc7 84%, #faeeaa 84%, #faeeaa 90%, #eb8533 90%, #eb8533 100%);
  background: -o-linear-gradient(top, #ffeca8 0%, #fc7 84%, #faeeaa 84%, #faeeaa 90%, #eb8533 90%, #eb8533 100%);
  background: -ms-linear-gradient(top, #ffeca8 0%, #fc7 84%, #faeeaa 84%, #faeeaa 90%, #eb8533 90%, #eb8533 100%);
  background: linear-gradient(to bottom, #ffeca8 0%, #fc7 84%, #faeeaa 84%, #faeeaa 90%, #eb8533 90%, #eb8533 100%);
}

  .button_back {}
  
  .button_continue {}

#header {
  @extend .cf;
  
  padding: 1rem;
}  

  #header img {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  
  .header__main {
    overflow: hidden;
  }
  
#page-navigation {
  @extend .cf;
  
  margin-top: 0.6rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

  .page-navigation__prev {
    float: left;
  }

  .page-navigation__next {
    float: right;
  }
  
#offers {
  display: table;
  width: 100%;
  border-spacing: 0.4rem;
}

  .offers__section {
    display: table-row;
  }
  
  .offer {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    cursor: pointer;
    border: 0.2rem solid black;
    background-color: #bbb3c6;
  }
  
    .offer__i {
      padding: 0.5rem;
    }
    
      .offer__i2 {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
      }
      
    .offer__image-container,
    .offer__main,
    .offer__aside {
      display: table-cell;
      vertical-align: middle;
    }
    
    .offer__image-container {
      width: 5.2rem;
    }
    
    .offer__image {
      width: 5rem;
      height: 5rem;
      border: 0.1rem solid #444;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 5rem auto;
    }
    
    .offer__main {
      padding-left: 1rem;
    }
    
    .offer__aside {
      width: 6.4rem;
    }
    
    .offer__title {
      color: #000;
    }
    
    .offer__subtitle {
      color: #442333;
    }
    
    .offer__reward {
      color: #000;
    }
    
#offer-details {
  width: 68rem;
  padding: 1rem;
  color: #545;
  border: 0.2rem solid black;
  background-color: #bbb3c6;
}    

  .offer-details__image {
    @extend .offer__image;
    
    float: left;
  }

  .offer-details__title-holder {
    overflow: hidden;
    padding-left: 1rem;
  }
  
  .offer-details__header {
    @extend .cf;
    
    .button {
      float: right;
      margin-top: 0.5rem;
    }
  }
  
  .offer-details__title {}
  
  .offer-details__subtitle {
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  .offer-details__controls {
    display: none;
  }
  
  .offer-details__body {
    margin-top: 1rem;
  }
  
  .offer-details__instructions {
    margin-top: 1rem;
    
    ul {
      margin-top: 0;
    }
  }
  
#footer {
  margin-top: 1rem;
  border-top: 1px solid #010123;
  background-color: #442333;
}

.footer-menu {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  li,
  a {
    display: inline-block;
    vertical-align: top;
  }

  a {
    padding: 1rem;
    text-decoration: none;
    color: #bbb3c6;
  }
}
  
@media screen and (max-width: 767px) {
  .modal-opened {
    #header,
    #modal-overlay,
    #main,
    #page-navigation,
    #footer {
      display: none;
    }
    
    #modal-container {
      position: static;
    }
    
    .modal-container__i,
    .modal-container__i2 {
      display: block;
    }
    
    #offer-details {
      width: auto;
    }
    
    .offer-details__controls {
      display: block;
    }
    
    .offer-details__header {
      button {
        display: none;
      }
    }
  }
}